@import '../../assets/styles/component-base.scss';

.input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid $border;
  outline: none;
  padding: 0px 20px;
  color: $black;
  font-size: 13px;

  ::placeholder {
    color: #bbb;
  }
}

.container {
  position: relative;
  z-index: 1;
  height: 40px;
  background-color: white;
}

.list {
  list-style-type: none;
  padding: 6px 20px;
  background-color: white;
  margin-top: 0px;
}

.itemList {
  padding: 4px 0px;
  color: #666;
  font-size: 13px;
  cursor: pointer;
}