@import '../../assets/styles/component-base.scss';

.wrapper {
  background: $black;
}

.inner {
  @include container;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.left {
  margin-right: 30px;
}

.right {
  width: 100%;
}