@import '../../assets/styles/component-base.scss';

.container {
  position: relative;
  height: 100%;
  flex: 1;
  max-width: 100%;
}

.mark {
  background-color: rgba($color: $violet, $alpha: .7);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 4px solid 4px solid rgba(255, 255, 255, 0.4);
}