/*sizes and breakpoints*/
$phones: 460px;
$tablets: 720px;
$desktops: 960px;
$desktopsL: 1140px;

/*project colors*/
$accent: #2194f3;
$orange: #f37f21;
$white: #ffffff;
$background: #f8f9fb;
$border: #d6d6d6;
$black: #333;

$violet: #8021f3;
$red: #f32194;


/*global font rules*/
$font: "Helvetica",
"Helvetica Neue",
sans-serif;
$font-size: 14px;
$line-height: 1.7;
$font-color: #2b2b2b;

/*retina*/
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;